/* Font Stuff */
:root {
    font-family: sans-serif;
}

/* Color Variables (Light Mode) */
:root {
    --background: #ffffff;
    --accent-green: #5a835a;
    --accent-dark-grey: #808080;
    --accent-grey: #cecece;
    --accent-light-grey: #e6e6e6;
    --font-color: #000000;

    /* Navbar */
    --nav-active: rgb(125, 185, 125);
    --nav-inactive: ;

    /* Table Items */
    --item-hover: #87b687;
    --item-active: #465e46;
    --panel-color: #7e977e;
    --panel-header-color: var(--accent-green);
}
/* Color Variables (Dark Mode */
@media (prefers-color-scheme: dark) {
:root {
    --background: #141414;
    --accent-green: #143d14;
    --accent-grey: #3c3c3c;
    --accent-light-grey: #444444;
    --font-color: #eee;

    /* Table Items */
    --item-hover: #304030;
    --item-active: #465e46;
}
}

:root {
    background: var(--background);
    color: var(--font-color);
}