/* Font Stuff */
:root {
    font-family: sans-serif;
}

/* Color Variables (Light Mode) */
:root {
    --background: #ffffff;
    --accent-green: #568356;
    --accent-grey: #9c9c9c;
    --font-color: #000000;

    --nav-active: rgb(100, 172, 100);
    --nav-inactive: ;
}
/* Color Variables (Dark Mode */
@media (prefers-color-scheme: dark) {
:root {
    --accent-green: #143d14;
    --accent-grey: #3c3c3c;
    --font-color: #eee;
}
}